# --- PY4E Course 3 Specifics ---
# Ignore the data files provided by the course (mbox.txt, romeo.txt, etc.)
*.txt
*.csv
*.json
*.xml
*.html

# Exceptions (CRITICAL INFRASTRUCTURE & DOCS)
!README.md
!*.pdf
!requirements.txt
!*mock*.json
!*payload*.json

# Python clutter (Essential)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# OS Clutter
.DS_Store
Thumbs.db